<div class="bg-gray-200 shadow mt-4 rounded-lg py-20 text-center">
  <div class="text-blue-800">
    <svg width="128" height="128" class="inline fill-current" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M128 64c0 35.346-28.654 64-64 64-35.346 0-64-28.654-64-64C0 28.654 28.654 0 64 0c35.346 0 64 28.654 64 64zm-37.276.816c-.775 5.69-3.425 10.786-7.285 14.668-4.65 4.659-11.076 7.539-18.163 7.539-2.058 0-4.073-.24-5.99-.706l-12.85 21.205c-2.001 3.303-6.299 4.362-9.596 2.357a7.009 7.009 0 01-2.353-9.614l12.611-20.81a25.68 25.68 0 01-7.496-18.169c0-1.2.084-2.385.24-3.543a77.805 77.805 0 009.116 3.247v.296a16.33 16.33 0 004.777 11.563 16.234 16.234 0 0011.54 4.786c4.51 0 8.596-1.836 11.54-4.786 2.002-2.005 3.481-4.518 4.228-7.327 3.128-.043 6.214-.24 9.188-.636l.479-.07h.014zM57.872 17.79c-1.722-1.02-3.269-1.935-5.236-1.935h-.014c-3.368 0-5.44 2.824-6.116 6.127-.26 1.3-.469 2.635-.68 3.99-.338 2.166-.684 4.385-1.264 6.598-7.257.805-12.936 2.725-15.36 5.648-2.578 3.12-1.042 6.889 3.847 10.517 5.186 3.854 14.105 7.51 25.519 9.897 11.85 2.47 23.574 3.007 32.55 1.807 8.835-1.172 14.584-3.981 15.232-7.963.606-3.755-3.48-7.778-10.23-11.21a61.699 61.699 0 00-4.396-1.99c-1.793-5.051-2.735-9.689-3.524-13.57a150.176 150.176 0 00-.788-3.724c-.747-3.275-2.748-6.127-6.115-6.127-2.357 0-4.224.99-6.236 2.056-2.355 1.248-4.91 2.603-8.687 2.603-3.899 0-6.339-1.444-8.502-2.724zM74.632 49.4c6.214.353 12.216.14 18.388-1.003v-.014c1.913-.35 1.654-1.087 1.389-1.843l-.008-.02c-.386-1.058-.888-2.138-1.382-3.197-.191-.411-.381-.82-.562-1.222-15.796 3.219-36.933-1.468-49.234-5.605a54.513 54.513 0 01-1.93 3.459l-.002.003c-.479.761-1.01 1.607 1.157 2.496 4.89 2.005 8.764 3.388 14.64 4.616 5.989 1.243 11.935 2.02 17.544 2.33z"/></svg>
  </div>
  <div class="mt-10 text-blue-800">
    <p>We didn't find any <%= plural_type %>.</p>
    <p class="mt-2">Please check back again later.</p>
  </div>
</div>
